<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Puja un vídeo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="upload-col">
        <ion-card class=upload-card color="secondary">
          <ion-icon name="cloud-upload-outline"></ion-icon>
          <ion-card-title>Selecciona el vídeo</ion-card-title>
          <br>
          <input class="form-control" type="file" 
            (change)="onChange($event)" >
            <br>
          <ion-button color="light" (click)="upload()">
              Puja
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-row-1">
        <!-- <ion-col> -->
          <ion-card class="res-card">
            <ion-card-title>Resultat</ion-card-title>
            <ion-card-content>
              <div id="resposta"> Penja un vídeo per a obtenir un resultat. Pots tornar a veure els requeriments més avall. </div> 
            </ion-card-content>
          </ion-card>
        <!-- </ion-col> -->
    </ion-row>
    <ion-row class="ion-row-2">
      <ion-card-title>Vídeo d'exemple</ion-card-title>
              <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="assets/exemple.mp4" type="video/mp4" />
               </video> -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ws91AfkRyac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Requeriments vídeo</ion-card-title>
          <ion-list>
            <ion-item>1. Ha de sortir el cos sencer, no s'ha de tallar cap part del cos.</ion-item>
            <ion-item>2. Grava't de costat i de manera que quan vegis el vídeo estiguis mirant cap el costat esquerre del mòbil.</ion-item>
            <ion-item>3. Duració del vídeo entre 3 i 5 segons.</ion-item>
            <ion-item>4. La càmera ha d'estar situada a l'altura de la cintura per gravar-te millor.</ion-item>
            <ion-item>5. Evitar moviments de la càmera durant la gravació.</ion-item>
          </ion-list>
          <ion-list-header>*Complir aquest requeriments és important per afavorir el correcte funcionament de la aplicació. No podem asegurar que l'aplicació funcioni bé si no es compleixen.</ion-list-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  

</ion-content>
