<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title text-align="left">
      Informació
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h2> Sobre el projecte </h2>
    <br>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <p>
          L'exercici físic i més concretament l'exercici de força és una activitat beneficiosa per la salut de les persones però, si l'execució d'aquests exercicis és incorrecta pot ser una pràctica lesiva i per tant empitjorar la salut. Molts dels exercicis són difícils d'executar correctament per les persones que s'inicien, i no tothom té o pot tenir un entrenador personal que els guiï. La idea del projecte és crear un software que, d'una manera senzilla, permeti fer saber a l'usuari a l'hora de realitzar un exercici físic (com pot ser esquat, pes mort, dominada, flexió, etc.) si la seva tècnica és correcta. Correcta vol dir que compleix els requeriments o que té les característiques (biomecànicament) necessàries per no produir lesions i a més obtindre els beneficis de l’exercici en qüestió (augment de la força, tonificació, etc.). També podria ser útil com a eina complementària per a entrenadors, d'aquesta manera es podria evitar l'error humà.
        </p>
      </ion-col>
      
      <ion-col size="auto">
        <ion-row>
          <div>
            <ion-img src="assets/costat_fondo.png"></ion-img> 
          </div>
          <div>
            <ion-img src="assets/jesussusususus.png"></ion-img> 
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center"> 
      <ion-col class="faq">
        <h3> FAQ </h3>
        <br>
        <ion-card (click)="expandItem(item)" *ngFor="let item of items">
          <ion-card-header>
            <ion-card-title>{{item.titol}}</ion-card-title>
          </ion-card-header>
          <app-expandable expandHeight="150px" [expanded]="item.expanded">
            <ion-card class="interior-card">{{item.text}}</ion-card>
            
          </app-expandable>
        </ion-card>
      </ion-col>

      <ion-col class="about">
        <h3> Sobre els autors </h3>
        <br>
        <p>
          El projecte ha estat desenvolupat per un grup de dos integrants, l'Aleix Serra Llorens i el Jesús Romero Gutiérrez, dos estudiants de l'EPSEVG (UPC) molt interessats en el camp de la Intel·ligència Artificial.
          <br>
          <b>Aleix Serra Llorens</b>
          <br>
          <b>Jesús Romero Gutiérrez</b>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
