.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
    color: black;
    font-size: medium;
    // padding-left: 15px;
  }
  
  .collapsed {
    max-height: 0 !important;
  }