* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  ion-grid {
    --ion-grid-padding: 20px;
    text-align: justify;
}

ion-img {
  padding-left: 40px;
  height: 300px;
}

ion-card {
  padding: 10px;
  border-radius: 8px;
}

.fila2 {
  padding-top: 40px;
}

.videoPlayer, .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  @media source and (min-width: 200px){
    .column.superior, .column.inferior.left, .column.inferior.mid, .column.inferior.right {
      width: 100%;
    }

    ion-grid {
      padding-left: 20px;
      text-align: justify;
    }

    ion-img {
        padding-left: 10px;
        height: 300px;
    }
    ion-col {
        size: auto;
    }
  }